.glyphicon-refresh-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

.loading-modal .modal-content {
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 100%;
    border: 0 !important; 
}

.loading-modal .modal-body {
         margin: 40vh 9vh; 
}

.loading-modal .spinner-content {
    padding: 20px 30px;
    background-color: #fafafa;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.3);
}

